<div class="container">

  <h1 class="my-3 text-center fw-bold">修改商品</h1>

  <%= render 'form', product: @product %>

  <div>
    <%= link_to "返回商品列表", products_path, class: "btn btn-outline-danger" %>
  </div>

</div>
